 <ul class="auction-container">
  <h4 class="auction-title"><%= @auction.title %></h4>
  <p class="auction-description"><%= @auction.description %></p>
  <li>Price: <%= @auction.price %></li>
  <li>Seller: <%= @auction.seller.email %></li>
  <li>End Date: <%= RenaissanceWeb.AuctionView.puts_utc_as_local(@auction.end_auction_at) %></li>

  <%= link("more", to: Routes.auction_path(@conn, :show, @auction),
  class: "button button-clear", style: "float: right") %>
</ul>
