<div class="pageContent">
  <div class="pageGroup">
    <h1 class="lbl-group">Auctions</h1>
    <div class="content-text">
      <%= link("Start an Auction", to: Routes.auction_path(@conn, :new)) %>
    </div>
    <%= render_many @auctions, RenaissanceWeb.AuctionView, "_auction.html", conn: @conn %>
  </div>
</div>
