<ul class="auction-container">
  <h4 class="auction-title"><%= @auction[:title] %></h4>
  <p class="auction-description"><%= @auction[:description] %></p>
  <li class="auction-detail">Price: <%= @auction[:price] %></li>
  <li class="auction-detail">Seller: <%= @auction[:seller] %></li>
  <li class="auction-detail">End Date: <%= @auction[:end_auction_at] %></li>
</ul>
