/* This file is for your main application css. */

@import './phoenix.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

form {
    margin-bottom: 2rem;
}

body {
    margin: 0;
}

.alert {
    position: fixed;
    width: calc(100% - 2rem);
    margin: 1rem;
    font-family: Roboto, sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 0;
    color: #fafafa;
}

.alert-info {
    background-color: #607D8B;
}

.alert-danger {
    background-color: #ef5350;
}

.renaissance-main {
    font-size: 48px;
    text-transform: uppercase;
}

.pageContent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/291732/pexels-photo-291732.jpeg?cs=srgb&dl=adventure-cold-daylight-291732.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
}

.pageGroup {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: scroll;
    max-height: calc(100vh - 4rem);
}

.lbl-group {
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #607D8B;
    border-bottom: 2px solid #E0E0E0;
    padding: 0 0 5px 0;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
}

.form-section-half {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.half-right {
    margin-left: 1rem;
}

.half-left {
    margin-right: 1rem;
}

.form-section-horizontal {
    flex-direction: row;
    display: flex;
}

.form-multi-input {
    display: flex;
    margin-bottom: 1rem;
    align-items: baseline;
}

.form-text {
    font-size: 18px !important;
}

.lbl-form {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #616161;
}

.help-block {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #ef5350;
}

.content-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin: 0 2rem 2rem 2rem;
}

.date-form {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: 0.6rem 1.0rem;
    width: 50%;
}

.dollar-sign {
    margin: 0.6rem 0.5rem 2rem 0;
    font-family: 'Roboto', sans-serif;
}

.help-link {
    margin: -1rem 0 0.5rem 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: #4b93b6;
}

.centered-container {
    margin: 1rem 2rem 1rem 2rem;
    background-color: #FAFAFA;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    transition: all 0.5s cubic-bezier(0.25,0.8,0.25,1);
    list-style-type: none;
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
}

.auction-container {
    margin: 1rem 2rem 1rem 2rem;
    background-color: #FAFAFA;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(0.25,0.8,0.25,1);
    font-family: Roboto, sans-serif;
}

.auction-container:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.auction-container:first-of-type {
    margin: 0rem 2rem 1rem 2rem;
}

.auction-container:last-of-type {
    margin: 1rem 2rem 2rem 2rem;
}

.auction-title {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    height: 2.5rem;
}

.auction-description {
    font-style: italic;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    margin-bottom: 0.5rem;
    border-bottom: #BDBDBD solid 1px;
    padding-bottom: 0.5rem;
}

.auction-detail {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    list-style-type: none;
}

@media only screen and (max-width: 60.0rem) {
    .pageGroup {
        width: 80vw;
    }

    .lbl-group {
        font-size: 36px;
    }
}
