/* This file is for your main application css. */

@import "./phoenix.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

form {
    margin-bottom: 2rem;
}

body {
    margin: 0;
}

.alert {
    position: fixed;
    width: calc(100% - 2rem);
    margin: 1rem;
    font-family: Roboto, sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 0;
    color: #fafafa;
}

.alert-info {
    background-color: #607D8B;
}

.alert-danger {
    background-color: #ef5350;
}

.renaissance-main {
    font-size: 48px;
    text-transform: uppercase;
}

.pageContent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/291732/pexels-photo-291732.jpeg?cs=srgb&dl=adventure-cold-daylight-291732.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
}

.pageGroup {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.lbl-group {
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    color: #607D8B;
    border-bottom: 2px solid #E0E0E0;
    padding: 0 0 5px 0;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
}

.form-section-half {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.half-right {
    margin: 0 0 0 1rem;
}

.half-left {

    margin: 0 1rem 0 0;
}

.form-section-horizontal {
    flex-direction: row;
    display: flex;
}

.form-multi-input {
    display: flex;
    margin-bottom: 1rem;
}

.form-text{
    font-size: 18px !important;
}

.lbl-form {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #616161;
}

.help-block {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #ef5350;
}

.content-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 24px;
    margin: 0 2rem 2rem 2rem;
}

.date-form {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem;
    width: 50%;
}

.dollar-sign{
    margin: .6rem .5rem 2rem 0;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 60.0rem) {

    .pageGroup {
      width: 80vw;
    }

    .lbl-group {
        font-size: 36px;
    }
  }