/* This file is for your main application css. */

@import './phoenix.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

form {
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.bold {
  font-weight: 400;
}

.alert {
  position: fixed;
  width: calc(100% - 2rem);
  margin: 1rem;
  font-family: Roboto, sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 0;
  color: #fafafa;
  animation-name: fade-out;
  animation-duration: 3s;
  opacity: 0;
}

.alert-info {
  background-color: #607D8B;
}

.alert-danger {
  background-color: #ef5350;
}

.renaissance-main {
  font-size: 48px;
  text-transform: uppercase;
}

.pageContent {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.pexels.com/photos/291732/pexels-photo-291732.jpeg?cs=srgb&dl=adventure-cold-daylight-291732.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
}

.pageGroup {
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: scroll;
  max-height: calc(100vh - 4rem);
}

.lbl-group {
  margin: 2rem;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #607D8B;
  border-bottom: 2px solid #E0E0E0;
  padding: 0 0 5px 0;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 2rem;
}

.form-section-half {
  display: flex;
  flex-direction: column;
}

.half-right {
  margin-left: 1rem;
  width: 75%;
}

.half-left {
  margin-right: 1rem;
  width: 25%;
}

.form-section-horizontal {
  flex-direction: row;
  display: flex;
}

.form-multi-input {
  display: flex;
  margin-bottom: 1rem;
  align-items: baseline;
}

.form-text {
  font-size: 18px !important;
}

.lbl-form {
  font-weight: 300;
  color: #616161;
}

.help-block {
  font-weight: 600;
  color: #ef5350;
}

.content-text {
  font-weight: 300;
  font-size: 24px;
  margin: 0 2rem 2rem 2rem;
}

.date-form {
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: 0.6rem 1.0rem;
  width: 50%;
}

.dollar-sign {
  margin: 0.6rem 0.5rem 2rem 0;
}

.help-info {
  margin: -1rem 0 0.5rem 0.5rem;
  padding: 0.25rem 0 0.25rem 0;
  font-size: 0.8em;
  color: #4b93b6;
}


.auction-container {
  margin: 1rem 2rem 1rem 2rem;
  background-color: #FAFAFA;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(0.25,0.8,0.25,1);
  color: inherit;
}

.auction-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: inherit;
}

.auction-container:first-of-type {
  margin: 0rem 2rem 1rem 2rem;
}

.auction-container:last-of-type {
  margin: 1rem 2rem 2rem 2rem;
}

.auction-title {
  margin: 0;
  font-weight: 600;
  height: 2.5rem;
}

.auction-description {
  font-style: italic;
  font-size: 1em;
  margin-bottom: 0.5rem;
  border-bottom: #BDBDBD solid 1px;
  padding-bottom: 0.5rem;
}

.auction-container li {
  margin: 0;
  font-weight: 400;
  list-style-type: none;
}

.auction-detail {
  margin: 0;
  font-weight: 400;
  list-style-type: none;
}

.show-auction {
  overflow: -webkit-paged-x;
}
.show-auction.content-text {
  font-size: 1.37em;
}
.item-table {
  margin: 0;
}

.item-table tr {
  display: flex;
  border-bottom: 0.1rem solid #e1e1e1;
}

.item-table tr td {
  display: flex;
  padding: 0;
  border: 0;
}

.countdown {
  display: flex;
  flex-direction: column;
  width: calc(100% - 4rem);
  margin: 0 2rem 2rem 2rem;
  font-size: 2rem;
  align-items: center;
}

.lbl-count-text {
  font-weight: 500;
}

.form-multi-input {
  margin: 0;
}

.table-left {
  margin-right: .5rem;
}

tr:first-child {
  padding: 0 0 1rem 0;
}

tr {
  padding: 1rem 0;
}

#end_auction_at_year {
  margin-right: .5rem;
}

#end_auction_at_month {
  margin: 0 .5rem 2rem .5rem;
}

#end_auction_at_day {
  margin: 0 .5rem 2rem .5rem;
}

#end_auction_at_hour {
  margin: 0 .5rem 2rem .5rem;
}

#end_auction_at_minute {
  margin-left: .5rem;
}

.mod-txt_secondary {
  display: flex;
  width: calc(100% - 4rem) !important;
  margin: 0 2rem 2rem 2rem;
  font-style: italic;
  font-size: 2rem;
}

.mod-table {
  display: flex;
  margin: 0 2rem 2rem 2rem;
  width: calc(100% - 4rem);
}

.auction-editable {
  display: flex;
  font-family: Roboto, sans-serif;
  border: 0px solid black !important;
  height: fit-content !important;
  cursor: pointer;
  border-radius: 0px !important;
  text-overflow: ellipsis;
  padding: 0px !important;
  transition-delay: 0.15s;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.auction-editable:focus {
  cursor: text;
  padding: 1rem !important;
  background-color: #F5F5F5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 3px !important;
}

.auction-editable:focus:hover {
  border-radius: 3px !important;
}

.edit-title {
  width: calc(100% - 4rem) !important;
  border-bottom: 2px solid #E0E0E0 !important;
  margin-bottom: calc(2rem - 2px);
  padding: 0 0 5px 0 !important;
  font-weight: 700;
}

.edit-title:hover {
  border-bottom: 0px solid #BDBDBD !important;
  border-radius: 8px !important;
  background-color: #EEEEEE;
  padding: 1rem !important;
}

.edit-title:focus {
  border-bottom: 4px solid #546E7A !important;
  margin-bottom: calc(2rem - 4px);
}

.edit-title:focus:hover {
  background-color: #F5F5F5;
  color: #607D8B;
}

.edit-description {
  font-weight: 300;
  border-bottom: #BDBDBD solid 1px;
  padding-bottom: 0.5rem;
}

.edit-description:hover {
  border-radius: 8px !important;
  background-color: #EEEEEE;
  padding: 1rem !important;
}

.edit-description:focus {
  margin: 0 2rem 2rem 2rem;
  width: calc(100% - 4rem) !important;
}

.edit-description:focus:hover {
  background-color: #F5F5F5;
}

.nav-container {
  display: flex;
  width: calc(100% - 4rem);
  margin: 0 2rem 2rem 2rem;
}

.nav-spacer {
  width: -webkit-fill-available;
}

.half-left {width: -webkit-fill-available;}

@media only screen and (max-width: 960px) {
  .pageGroup {
    width: 80vw;
  }

  .lbl-group {
    font-size: 36px;
  }
}

@keyframes fade-out {
  0%   {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}
