<h1>Register</h1>
<hr>
<%= form_for @changeset, Routes.register_path(@conn, :register), fn f -> %>
    <label>
        Email:    <%= email_input f, :email, placeholder: "Email address", required: true%>
    </label>
    <label>
        Password: <%= password_input f, :password, placeholder: "Password", required: true %>
    </label>
    
    <%= submit "Submit" %>
<% end %>